<main class="container main">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="maintext text-white">
                <!-- <h4>{{item.start_event | date:'medium'}}</h4> -->
                <h1>Profile</h1>
                <!-- <div class="star-icon">
                    <i class="fas fa-star">{{countdown(item)}}</i>
                </div>
                
                <p>{{item.ayat}}<br>"{{item.deskripsi_ayat}}"</p> -->
                <a class="btn">Detail Event</a>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="img">
                <!-- <img src={{item.path}} alt=""> -->
            </div>
        </div>
    </div>
</main>

<div class="container-fluid footer">
  <div class="row">
      <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-center">
          <div class="footer-section1 d-flex align-items-end justify-content-around text-white">
              <div class="created">
                  <img src="/assets/img/logo_kppm_gkjw_sambirejo.png"  alt="" class="w-100">
              </div>
              <p class="ml-3">KPPM GKJW SAMBIREJO</p>
          </div>
      </div>
      <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-center">
          <div class="social-icons text-white">
              <i class="fab fa-facebook-f mx-4"></i>
              <i class="fab fa-twitter mx-4"></i>
              <i class="fab fa-youtube mx-4"></i>
          </div>
      </div>
      <div class="col-md-3 col-sm-12"></div>
      <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-end">
          <div class="youtube d-flex align-items-center text-white mr-5">
              <div class="play d-flex align-items-center justify-content-center">
                  <i class="fas fa-play"></i>
              </div>
              <p class="ml-2 mb-0 text-uppercase">
                  Trailer
              </p>
          </div>
      </div>
  </div>
</div>